{% extends "base.html" %} 

{% block content %} 

{% if accounts %} 

{% for account in accounts %}
<!-- <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ account.author.profile.image.url }}">
          <div class="media-body">
            
          </div>
        </article> -->
{% if account.is_staff == False and account.id != user.id %}
<div class="col-md-3">
  <div class="card mb-3">
    <!-- <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt=""> -->
    <div class="card-body">
      <h5 class="card-title">{{ account.username }}</h5>
      <h6 class="text-secondary">
        {{ account.first_name }} {{ account.last_name }}
      </h6>

      {% if user.is_authenticated %}
        <button
          class="btn-danger btn-block btn-lg show-contact-modal"
          data-toggle="modal"
          data-contactee_id="{{ account.id }}"
          data-contactee_name="{{ account.first_name }} {{ account.last_name }}"
          data-target="#contactMoneyModal"
        >
          Request $
        </button>
        <button
          class="btn-success btn-block btn-lg show-payment-modal"
          data-toggle="modal"
          data-target="#sendMoneyModal"
          data-payee_name="{{ account.first_name }} {{ account.last_name }}"
          data-payee_id="{{ account.id }}"
          data-receive_contact_id="500"
          data-payment_contact_id="500"
        >
          Send $
        </button>
      {% endif %}


    </div>
  </div>
  
</div>
{% endif %} 

{% endfor %}

{% else %}

<h3>No Users to Display</h3>

{% endif %}


<!-- Request Modal -->
<div class="modal fade" id="contactMoneyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactMoneyModalLabel">
          Request Money from <span id="contactee-name"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          <!-- {% if user.is_authenticated %} -->
          <input type="hidden" name="contactor_id" value="{{ user.id }}" />
          <!-- {% else %}
                <input type="hidden" name="user_id" value="0">
              {% endif %} -->
          <!-- <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}"> -->
          <!-- <input type="hidden" name="listing_id" value="{{ listing.id }}"> -->
          <input type="hidden" name="is_pending" value="True" />
          <input type="hidden" name="contactee_id" id="contactee-id" />
          <!-- <div class="form-group">
                <label for="property_name" class="col-form-label">Property:</label>
                <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
              </div>
              <div class="form-group">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="phone" class="col-form-label">Phone:</label>
                <input type="text" name="phone" class="form-control">
              </div> -->

          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" name="title" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input
              type="number"
              name="amount"
              step="0.01"
              class="form-control"
              min="1"
              required
            />
          </div>
          <!-- <div class="form-group">
                  <label for="is_private" class="col-form-label">Private?:</label>
                  <input type="checkbox" name="is_private" class="form-control">
              </div> -->
          <!-- <div class="form-group">
                  <label for="name" class="col-form-label">Requestee:</label>
                  <input type="text" id="contactee-id">
              </div> -->
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control">
Yo! I Need Money</textarea
            >
          </div>
          <hr />
          <input
            type="submit"
            value="Send"
            class="btn btn-block btn-secondary"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Payment Modal -->
<!-- <div class="modal fade" id="sendMoneyModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sendMoneyModalLabel">Pay Money to <span id="repay-recipient-name"></span></h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form action="{% url 'charge' %}" method="post">
              {% csrf_token %}

                 <input type="hidden" name="payer_id" value="{{ user.id }}">

              <input type="hidden" name="is_pending" value="False">
              <input type="hidden" name="recipient_id" id="recipient-id">
              <input type="hidden" name="receive_contact_id" id="receive-contact-id">
              <input type="hidden" name="payment_contact_id" id="payment-contact-id">
              <input type="hidden" name="amount" id="repayment-amt">


              <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" name="title" class="form-control" required>
              </div>
              <div class="form-group">
                  <label for="amount" class="col-form-label">Amount:</label>
                  <input type="number" id="repayment-id" name="amount-visible" class="form-control">
              </div>
              <div class="form-group">
                <label for="message" class="col-form-label">Message:</label>
                <textarea name="message" class="form-control">Yo! I'm sending you some $</textarea>
              </div>
              <hr>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="{{ key }}"
                          data-description="A Django Charge"
                          data-amount="500"
                          data-locale="auto"></script>
              <input type="submit" value="Send" class="btn btn-block btn-secondary">
            </form>
          </div>
        </div>
      </div>
    </div> -->

<!-- Payment Modal -->
<div class="modal fade" id="sendMoneyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendMoneyModalLabel">
          Pay Money to <span id="payee-name"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form action="{% url 'repayment' %}" method="POST"> -->
        <form action="{% url 'charge' %}" method="post">
          {% csrf_token %}
          <!-- {% if user.is_authenticated %} -->
          <input type="hidden" name="payer_id" value="{{ user.id }}" />
          <!-- {% else %} -->
          <!-- <input type="hidden" name="payer_id" value="0"> -->
          <!-- {% endif %} -->
          <!-- <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}"> -->
          <!-- <input type="hidden" name="listing_id" value="{{ listing.id }}"> -->

          <!-- KEEPPING -->
          <!-- <input type="hidden" name="is_pending" value="False" /> -->
          <input type="hidden" name="recipient_id" id="payee-id" />
          <input
            type="hidden"
            name="receive_contact_id"
            id="receive-contact-id"
          />
          <input
            type="hidden"
            name="payment_contact_id"
            id="payment-contact-id"
          />
          <!-- <input type="hidden" name="amount" id="payment-amt" /> -->

          <!-- <div class="form-group">
                <label for="property_name" class="col-form-label">Property:</label>
                <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
              </div>
              <div class="form-group">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
              </div>
              <div class="form-group">
                <label for="phone" class="col-form-label">Phone:</label>
                <input type="text" name="phone" class="form-control">
              </div> -->

          <!-- KEEP -->
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input
              type="text"
              id="payment-title"
              name="title"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input
              type="number"
              id="payment-amount"
              name="amount"
              class="form-control"
            />
          </div>

          <!-- <div class="form-group">
                  <label for="is_private" class="col-form-label">Private?:</label>
                  <input type="checkbox" name="is_private" class="form-control">
              </div> -->
          <!-- <div class="form-group">
                  <label for="name" class="col-form-label">Requestee:</label>
                  <input type="text" id="contactee-id">
              </div> -->

          <!-- KEEP -->
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control" id="payment-message">
Yo! I'm sending you some $</textarea
            >
          </div>
          <hr />

          <!-- <form action="{% url 'charge' %}" method="post">
                  {% csrf_token %}
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="{{ key }}"
                          data-description="A Django Charge"
                          data-amount="500"
                          data-locale="auto"></script>
              </form> -->

          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ key }}"
            data-description="{{ title }}"
            data-amount="{{ amount }}"
            data-locale="auto"
          ></script>
          <!-- <input
            type="submit"
            value="Send"
            class="btn btn-block btn-secondary"
          /> -->
          <!-- <button class="btn btn-primary btn-lg" id="stripe-button">
              Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
            </button> -->
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
