{% extends 'base.html' %} {% block title %} | User Dashboard {% endblock %} 
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your <VenYo!></VenYo!> account</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="welcome">
          <a href="{% url 'edit' %}">
            <span id="edit-icon">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          Welcome {{ user.first_name }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Yo! These people owe you</h3>

        {% if pending_contacts_made_to_receive_money %}
        <p>Here are the property payments that you have inquired about</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for receive_contact in pending_contacts_made_to_receive_money %}
            {% if receive_contact.is_pending == True %}
            <tr>
              <td>{{ receive_contact.id }}</td>
              <td>{{ receive_contact.title }}</td>
              <td>${{ receive_contact.amount}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No pending requests</p>
        {% endif %}
      </div>
    <div class="col-md-6">
        <h3>Yo! You owe these people</h3>
      <div>
          {% if pending_contacts_to_send_money %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th>huh</th>
              </tr>
            </thead>
            <tbody>
              {% for payment_contact in pending_contacts_to_send_money %}
              <tr>
                <td>{{ payment_contact.id }}</td>
                <td>{{ payment_contact.title }}</td>
                <td>
                    <button 
                    class="btn-success btn-block btn-lg show-repayment-modal" 
                    data-toggle="modal" data-target="#repaymentModal"
                    data-recipient_name="{{payment_contact.contactor.username}} ({{payment_contact.user.first_name}} {{payment_contact.user.last_name}})"
                    data-recipient_id="{{ payment_contact.contactor.id }}"
                    data-repayment_amount="{{payment_contact.amount}}"
                    data-receive_contact_id={{payment_contact.id}}
                    data-payment_contact_id={{payment_contact.id}}>
                    Pay Now</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No pending requests</p>
          {% endif %}
      </div>
    </div>
  </div>


<!-- TODO: Turn into partial -->
  <!-- Payment Modal -->
  <div class="modal fade" id="repaymentModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="repaymentModalLabel">Pay Money to <span id="repay-recipient-name"></span></h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'charge' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="payer_id" value="{{ user.id }}">
              
              <input type="hidden" name="is_pending" value="False">
              <input type="hidden" name="recipient_id" id="recipient-id">
              <input type="hidden" name="receive_contact_id" id="receive-contact-id">
              <input type="hidden" name="payment_contact_id" id="payment-contact-id">
              <input type="hidden" name="amount" id="repayment-amt">

              

              <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" name="title" class="form-control" required>
              </div>
              <div class="form-group">
                  <label for="amount" class="col-form-label">Amount:</label>
                  <input type="number" id="repayment-id" name="amount-visible" class="form-control">
              </div>



              <div class="form-group">
                <label for="message" class="col-form-label">Message:</label>
                <textarea name="message" class="form-control">Yo! I'm sending you some $</textarea>
              </div>
              <hr>



              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="{{ key }}"
                          data-description=""
                          data-amount=""
                          data-locale="auto"></script>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
