{% extends "base.html" %}
{% block content %}

{% if payments %}
    {% for payment in payments %}
    
    <div class="col-md-3">
        <div class="card mb-3">
          <!-- <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt=""> -->
          <div class="card-body">
            <h4>Title:</h4>
            <h6>{{payment.title}}</h6>
            <h5 class="card-title">From: </h5>
            <!-- <h6 class="text-secondary">
              {{ account.first_name }} {{ account.last_name }}
            </h6> -->
            <h6 class="text-secondary">{{ payment.payer_user.username }} ({{ payment.payer_user.first_name }} {{ payment.payer_user.last_name }})</h6>
      
            <h5 class="card-title">To: </h5>
            <h6 class="text-secondary"> {{ payment.recipient_user.username }} ({{ payment.recipient_user.first_name }} {{ payment.recipient_user.last_name }})</h6>
            <h6>{{ payment.payment_date }}</h6>
            
      
      
          </div>
        </div>
        
      </div>




    <!-- <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ payment.author.profile.image.url }}">
          <div class="media-body">
            
          </div>
        </article> -->
        <!-- {% if payment.is_staff == False %} -->
          <!-- <div class="col-md-3">
              <div class="card mb-3">
                <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt=""> -->
                <!-- <div class="card-body">
                  <h5 class="card-title">{{ payment }}</h5>
                  <h6>From</h6>
                  <h6 class="text-secondary">{{ payment.payer_user.user_name }} {{ payment.payer_user.last_name }}</h6>
                  <h6>To</h6>
                  <h6 class="text-secondary">{{ payment.recipient_user.first_name }} {{ payment.recipient_user.last_name }}</h6>
                </div>
              </div> -->
              <!-- {% if user.is_authenticated %}
              <button class="btn-danger btn-block btn-lg show-contact-modal" data-toggle="modal" data-contactee_id={{payment.id}} data-contactee_name="{{payment.first_name}} {{payment.last_name}}" data-target="#contactMoneyModal">Request $</button>
              <button class="btn-success btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Send $</button>
              {% endif %} -->
          <!-- </div> -->
        <!-- {% endif %} -->
    {% endfor %}

    {% else %}

    <h3>No Payments to Display</h3>

    {% endif %}
{% endblock content %}